
@model ParkingSystem.ViewModels.CheckInViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Check In";
}

@using (Html.BeginForm("CheckIn", "VehicleRegister", FormMethod.Post))
{
    <h2>Check In</h2>
    <div class="form-group">

        <div>
            @Html.LabelFor(v => v.RegistrationNumber)
        </div>
        <div class="thumbnail">
            @Html.TextBoxFor(v => v.RegistrationNumber)
            @Html.ValidationMessageFor(v => v.RegistrationNumber, "", new { @class = "text-danger" })
        </div>

        @if (!string.IsNullOrEmpty(Model.Message))
        {
            @Html.DisplayFor(v => v.Message)
        }
    </div>
    
    <button value="Submit">Check In</button>

}
